@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif, serif;
    font-weight: 300;
  }

nav{
    display: flex;
    flex-direction: row-reverse;
    column-gap: 40px;
    margin:0 0;
    background-color: black;
    padding: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    
    
}
nav a:hover{
    color: red;
    font-size: 30px;

}
header{
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 0;
    padding-bottom: 10px;
}
h1{
    margin: 0;
}
h4{
    text-align: center;
}
hr{
    height:10px;
    width: 100%;
    border-width:0;
    background-color: black;
}

.flag{
  width: 29.4%;
  height: auto;
  transition: width 2s;
}
.flag:hover{
  width: 100%;
  border: 5px solid black;
    
}
#search:invalid{
    background-color: red;
}

.flag-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.input-btn{
  height: 40px;
  grid-column: 1/2;
  grid-row: 1/2;
}
.country{
    grid-column: 2/3;
    grid-row: 1/2;
}
.hr-line{
    grid-column: 1/3;
    grid-row: 2/3;
}
.flag{
    margin-top: 20px;
    grid-column: 1/3;
    grid-row: 3/4;
    place-self: center;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px;
    column-gap: 30px;
    margin: 30px;
}
.country-card{
    grid-column: 1/2;
    grid-row: 1/2;
    border: 5px solid black;
}
.int-card{
    grid-column: 2/3;
    grid-row: 1/2;
    border: 5px solid black;
}
.wb-card{
    grid-column: 3/4;
    grid-row: 1/2;
    border: 5px solid black;
}
.country-card, .int-card, .wb-card{
    padding-left: 5px;
}
.ulist{
    max-width: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
}
li{
    list-style: none;
    
}
ul{
    display: block;
    padding-left: 0px;
    margin: 0;
}


.header-h1
{
   
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: h1 5s linear infinite;
  display: inline-block;
}

@keyframes h1 {
  to {
    background-position: 200% center;
  }
}

footer {
    background: black;
    color: white;
    margin-top: 30px;
    text-align: center;
    padding: 5px;
    font-size: 15px; 
  }

  .feedbackForm{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  input{
    width: 250px;
    height: 40px;
  }
  #fname:invalid{
    border-left: 7px solid red;
  }
  #fname:valid{
    border-left: 7px solid green;
  }
  #emailid:invalid{
    border-left: 7px solid red;
  }
  #emailid:valid{
    border-left: 7px solid green;
  }

  label{
    margin-top: 10px;
  }
textarea{
    width: 50%;
}
#sub-btn{
  margin: 25px;
}